<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195750783102-org9bjldr450pcjpmef6ffe3cot8f24q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195750783102-org9bjldr450pcjpmef6ffe3cot8f24q</string>
	<key>API_KEY</key>
	<string>AIzaSyDvtM2wVUbOZsNV_mlJ1b_teE4dAhd9RiA</string>
	<key>GCM_SENDER_ID</key>
	<string>195750783102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kunkenaturals.kunkeAdmin</string>
	<key>PROJECT_ID</key>
	<string>kunke-naturals</string>
	<key>STORAGE_BUCKET</key>
	<string>kunke-naturals.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195750783102:ios:de371c1d6371e0e0cb102f</string>
</dict>
</plist>